*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box ;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
} 
.box{
    background-color: white;
    height: 40px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 25px rgba(0, 0,0 , 0.3);
    border-radius: 20px;
    margin: 90px 0px;
    transition: .2s ;
}
.box:hover {
    width: auto;
}
.box input{
    width: 0px;
    border-radius: 20px;
    padding: 0px;
    border: none;
    outline: none;
    transition: .2s ;
    font-weight: 500;
    font-size: 15px;
}
.box i{
    margin: 0px 10px;
    font-size: 20px;
}
.box:hover input{
    width: 400px;
}
